body {
    background-color: #F4D4D9;
}

.jumbotron {
    background-image: url('../assets/big-meanies.jpeg'); 
    background-size: cover; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black; 
    height: 400px; 
}  

.jumboContent { 
    height: 200px; 
    margin-top: 200px; 
    margin-bottom: 0; 
    color: #70043e; 
    text-align: center; 
    text-shadow:
		-2px -2px 0 #fff,
		2px -2px 0 #fff,
		-2px 2px 0 #fff,
		2px 2px 0 #fff;
}

.row {
    padding: 10px; 
}

h2 {
    color: #d88896; 
}

.text {
    color: #d88896; 
    font-weight: 700; 
}

.dynamic { 
    color: darkgray; 
}

.dynamic p { 
    margin-bottom: 0; 
}

.second-text {
    color: black; 
    font-weight: 700; 
}

.container {
    background-color: whitesmoke;
}

.alert { 
    
}


